@import "../../node_modules/ionic-sdk/scss/ionic.scss";


.imageFond {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.head-1 {
    padding: 1em;
    color: blue;
    font-size: 2em;
}

.head-2 {
    padding: 0.4em;
    padding-top: 1em;
    color: green;
    font-size: 1.6em;
}

.content-2 {
    padding-left: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: red;
    font-size: 1em;
}


.bold {
    font-weight: bold;
}








