@import "../../node_modules/ionic-sdk/scss/ionic.scss";
.home {
    font-family: serif;
    font-weight: bold;
    color: rgb(100,140,230);
}

.imageFond {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.head-1 {
    padding: 1em;
    color: blue;
    font-size: 2em;
}

.head-2 {
    padding: 0.4em;
    padding-top: 1em;
    color: green;
    font-size: 1.6em;
}

.content-2 {
    padding-left: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: red;
    font-size: 1em;
}

.bold {
    font-weight: bold;
}

.equipe {
    font-family: cursive;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

.scoreRouge {
    font-family: cursive;
    font-weight: 700;
    font-style: italic;
    color: rgb(210, 20, 34);
    text-align: center;
    text-transform: uppercase;
}

.scoreVert {
    font-family: cursive;
    font-weight: 700;
    font-style: italic;
    color: rgb(120, 230, 34);
    text-align: center;
    text-transform: uppercase;
}

.commentaire {
    font-family: monospace;
    font-style: italic;
    text-align: center;
    font-weight: 900;
}
