<ion-view title="Actu" style="background-color:white;">
    <ion-content>
        <div class="bar bar-calm bar-header">
            <button side="right" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <div class="h1 title">Actualité</div>
            <button class="button button-clear button-positive" ng-click="vm.myGoBack()">Back</button>
        </div>

        <div class="has-header" style="padding-top: 3.5em;">
            <div class="list card">

                <div class="item item-avatar">
                    <img src="images/app/logoMines.png">
                    <h2>{{vm.actuEnDetail.titre}}</h2>
                    <p>{{vm.actuEnDetail.date}}</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" src="images/app/JoHorizontal.png">
                    <p>
                        {{vm.actuEnDetail.contenu}}
                    </p>
                  
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
