<ion-view title="Accueil" style="background-color: rgb(100,140,230);">
    <ion-content class="has-header">
    </ion-content>
</ion-view>


<!-- <ion-header-bar class="bar-header bar-positive">
    <h1 class="title">New Stooge</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
</ion-header-bar>
<ion-content>
    <div class="padding">
       
    </div>
</ion-content>
 -->

 <!-- <ion-nav-buttons side="primary">
        <button menu-toggle="left" style="color : red;" class="button button-light button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button side="right" class="button button-clear button-light icon ion-ios-clock-outline ">Edit</button>
    </ion-nav-buttons> -->