<ion-side-menus>

    <ion-side-menu-content>
        <!-- <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-buttons side="primary">
                <button side="right" menu-toggle="left" style="color : white" class="button button-light button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="secondary">
                <button side="right" class="button button-clear button-light icon ion-ios-clock-outline ">Edit</button>
            </ion-nav-buttons>
        </ion-nav-bar> -->
        <ion-nav-view name="menuContent" animation="slide-left">
        </ion-nav-view>
    </ion-side-menu-content>

    <!--  <ion-side-menu side="left" overflow-scroll="true">
      
      <ion-scroll zooming="true" direction="xy" style="height:95%">
          </ion-scroll>
     
    </ion-side-menu> -->

    <ion-side-menu side="left" overflow-scroll="true" style="background-color: #0000; background-image: url(images/app/Jo.png); height:{{vm.height}}px; width:{{vm.width}}px;" class="imageFond">
        <ion-scroll zooming="true" style="height:95%" direction="y">
            <div class="head-1">
                <!-- Cartel 2016 -->
                <img src="images/app/Logo_Cartel_Final.png"  style="width: {{vm.width/3}}px;" alt="">
            </div>

            <div class="head-2" ng-repeat="head in vm.menu">
                {{head.title}}
                <div class="content-2" align="left" ng-repeat="content in head.array">
                    <!-- <a href="{{'#/menu/' + content.page }}" align="center"> {{content.title}} </a> -->
                    <button align="center" menu-close class="button button-clear button-positive" ui-sref="{{'menu.' + content.page }}">
                        {{content.title}}
                    </button>
                </div>
            </div>
        </ion-scroll>

    </ion-side-menu>
</ion-side-menus>
