<ion-view title="Planning" style="background-color:white;">
    <ion-content>
        <div class="bar bar-calm bar-header">
            <button side="right" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <div class="h1 title">Planning</div>
            <button class="button button-clear button-positive" ng-click="vm.myGoBack()">Back</button>
        </div>

        <div class="has-header" style="padding-top: 4.5em;">
            <h3 style="color:  #011f4b;" class="home">Planning des match</h3>
            <div align="center">
                <div style="color:  #011f4b;">Choisissez votre sport</div>
                <select ng-model="vm.sport">
                    <option ng-repeat="sport in vm.sports">{{sport}}</option>
                </select>
            </div>
            <div align="center" style=""> {{vm.sport}}</div>
            <div style="padding: 1em;"></div>

            <div align="center">
                <div style="color:  #011f4b;">Choisissez votre delegation</div>
                <select ng-model="vm.delegation">
                    <option ng-repeat="delegation in vm.delegations">{{delegation}}</option>
                </select>
            </div>
            <div align="center" style=""> {{vm.delegation}}</div>
            <div style="padding: 1em;"></div>
            <div align="center">
                <button align="center" ng-click="vm.getPlanning()" class="button button-outline button-calm">
                    Afficher le planning
                </button>
            </div>

            <div style="padding: 1em;"></div>

            <ul class="list">
                <li class="item" ng-repeat="resultat in vm.resultat">
                    <div class="row">
                        <b>Sport: </b> {{resultat.sport}}
                    </div>
                    <div class="row">
                        <div class="col-33 equipe" align="center">

                            <div> {{resultat.delegation_equipe1}}</div>
                            <div> {{resultat.equipe1}}</div>
                        </div>
                        <div class="col-33" align="center">
                            VS
                        </div>
                        <div class="col-33 equipe" align="center">
                            <div> {{resultat.delegation_equipe2}}</div>
                            <div> {{resultat.equipe2}}</div>
                        </div>
                    </div>
                    <div class="commentaire" align="center">
                        <div> Des': {{resultat.description}}</div>
                        <div>Date': {{resultat.date}}</div>
                        <div>Lieu': {{resultat.lieu}}</div>

                        <div>LieuMap':
                            <a href="{{resultat.lieu_maps}}"> Go to map</a>
                        </div>
                </li>
            </ul>

            </div>
    </ion-content>
</ion-view>
