<ion-view title="Sponsor" style="background-color: white">

    <ion-content>
        <div class="bar bar-calm bar-header">
            <button side="right" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <div class="h1 title">Sponsor</div>
            <button class="button button-clear button-positive" ng-click="vm.myGoBack()">Back</button>
        </div>
        <div class="has-header" style="padding-top: 4.5em;"></div>

        <div class="list">
            <div class="item" ng-repeat="contact in vm.listDesContacts">
                <div>
                    <h2 class="home" align="center">{{contact.Name}}</h2>
                    <img style="width: {{vm.width/2}}px;display: block; margin-left: auto; margin-right: auto;" src="{{contact.image}}" alt="">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>